$blue: #347783;
$yellow: #f5b721;
$red: #d0561b;
$brown: #817e5b;
$neutral: #fbf6f2;
$black: #2f4043;
$yellow-light: #{lighten($yellow, 30%)};

:root {
  font-size: 16px;
}

body {
  background: $neutral;
  margin: 0;
}

.p0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}

/** Typography **/
h1,
h2,
h3,
h4 {
  font-family: 'Lora', serif;
}

h5,
p,
.btn,
span,
li {
  font-family: "Maven Pro", sans-serif;
}

p {
  font-size: 18px;
}

.heading--primary {
  font-size: 48px;
}

.btn {
  background: $blue;
  display: inline-block;
  padding: 22px;
  border-radius: 111px;
  color: white;
  text-decoration: none;
  font-weight: bold;

  &--primary {
    font-size: 18px;
  }
}

.bg--pattern {
  background-color: #fbf6f2;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(45deg, #efebe7 0, #efebe7 1px, #fbf6f2 0, #fbf6f2 50%);
}

/** Home page **/
.testimonial {
  &__content {
    padding: 40px;
    max-width: 400px;
    margin: auto;

    p {
      font-size: 24px;
      color: $black;

    }

    h4 {
      color: $red;
    }
  }
}

footer {
  background: $black;
  padding: 48px;
}