$blue: #347783;
$yellow: #f5b721;
$yellow-light: #{lighten($yellow, 25%)};
$red: #d0561b;
$brown: #817e5b;
$neutral: #fbf6f2;

.hero {
  position: relative;
  padding: 10vw 0;

  &__heading {
    font-size: 88px;
    margin-block-start: 0;
    margin-block-end: 0;
    color:$blue;
  }

  &__intro {
    font-size: 28px;
  }

  &__img {
    max-width: 250px;

    @media(min-width:768px) {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: max-content;
    }
  }
}